title: "Нотная библиотека и тренажер"
description: "Церковные песнопения для обучения хоровому пению"
baseurl: ""
url: "https://username.github.io"

# Настройки Jekyll
theme: minima
plugins:
  - jekyll-relative-links

defaults:
  - scope:
      path: "partitures"
      type: "pages"
    values:
      layout: "partiture"
      nav: true
  - scope:
      path: "partitures"
      type: "pages"
      values:
        layout: "folder"
      nav: true
  - scope:
      path: ""
    values:
      layout: "default"
