title: "Вокальный тренажер"
description: "Церковные песнопения"
baseurl: ""
url: "https://voctrainer.github.io"

# Настройки Jekyll
markdown: kramdown
highlighter: rouge
theme: minima  # Используем стандартную тему для начала

# Включите плагины
plugins:
  - jekyll-relative-links

relative_links:
  enabled: true
  collections: true

# Настройки для партитур
defaults:
  - scope:
      path: ""
    values:
      layout: "default"
