title: "Нотная библиотека и тренажер"
description: "Церковные песнопения для обучения хоровому пению"
baseurl: ""
url: "https://voctrainer.github.io"

# Настройки Jekyll
theme: minima
plugins:
  - jekyll-relative-links

# Включите обработку плагинов
include:
  - _plugins

# Настройки для ABC файлов
abc:
  wrapper_class: "abc-source 16 1.5"

defaults:
  - scope:
      path: "partitures"
      type: "pages"
    values:
      layout: "folder"
  - scope:
      path: ""
    values:
      layout: "default"

# Исключите ABC файлы из статических файлов, так как мы их обрабатываем плагином
exclude:
  - "*.abc"

collections:
  partitures:
    output: true
    permalink: /:path/
