defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: "partitures"
      type: "pages"
    values:
      layout: "folder"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "abc_partiture"
