title: "Нотная библиотека и тренажер"
description: "Церковные песнопения для обучения хоровому пению"
baseurl: ""
url: "https://voctrainer.github.io"

# Настройки Jekyll
theme: minima
plugins:
  - jekyll-relative-links

# Исключите ABC файлы и плагины
exclude:
  - "*.abc"
  - "_plugins"
  - "convert_abc_to_html.py"

defaults:
  - scope:
      path: "partitures"
      type: "pages"
    values:
      layout: "folder"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
