title: "Нотная библиотека"
description: "Церковные песнопения для обучения"
baseurl: ""
url: "https://voctrainer.github.io"

theme: null

plugins:
  - jekyll-relative-links

defaults:
  - scope:
      path: ""
    values:
      layout: "default"
  - scope:
      path: "partitures"
    values:
      layout: "folder"
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "abc_partiture"

# Добавьте для правильной обработки UTF-8
encoding: "utf-8"
