.header {
    background-color: #4051b5;
    color: white;
    padding: 20px;
    font-size: 2em;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: -.01em;
    margin: 0px;
}

@media screen and (min-width: 800px) and (max-width: 1240px) {
    h1, h2 {
        font-size: 1.5em;
    }
}

h2 {
    font-weight: bold;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.nav-tab {
    background-color: #4051b5;
    color: white;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    font-size: 1em;
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 800px) and (max-width: 1240px) {
    a {
        font-size: 1em;
    }
}

a:hover {
    color: #526cfe;
}

.main-container {
    font-size: 2em;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width:1240px) {
    .main-container {
        max-width: 1000px;
    }
}

@media screen and (max-width:1240px) {
    .main-container {
        max-width: 95%;
    }
}

.main-container a {
    color: blue;
}

/* Стили для навигационного дерева */
.nav-tree ul {
    list-style: none;
    padding-left: 0;
}

.nav-tree li {
    margin: 8px 0;
}

.nav-tree a {
    color: #2c3e50;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;
}

.nav-tree a:hover {
    background-color: #ecf0f1;
    color: #4051b5;
}

.nav-tree .folder {
    color: #e67e22;
    font-weight: bold;
}

.nav-tree .file {
    color: #2c3e50;
}
