{% assign current_path = include.current_path %}
{% assign tree = include.tree %}

<ul class="navigation-tree-list">
  {% comment %} Выводим вышестоящие папки {% endcomment %}
  {% if tree.parent_folders %}
    {% for folder in tree.parent_folders %}
      <li class="navigation-item navigation-parent-folder">
        <a href="{{ folder.path }}" class="navigation-link navigation-parent-link">
          <span class="folder-indent" style="margin-left: {{ folder.level | times: 20 }}px">
            <i class="folder-icon">📁</i>
            {{ folder.displayName }}
          </span>
        </a>
      </li>
    {% endfor %}
  {% endif %}

  {% comment %} Выводим текущую папку {% endcomment %}
  {% if tree.current_folder %}
    <li class="navigation-item navigation-current-folder">
      <span class="current-folder-display">
        <span class="folder-indent" style="margin-left: {{ tree.current_folder.level | times: 20 }}px">
          <i class="folder-icon">📂</i>
          {{ tree.current_folder.displayName }}
        </span>
      </span>
    </li>
  {% endif %}

  {% comment %} Выводим вложенные папки {% endcomment %}
  {% if tree.child_folders %}
    {% for folder in tree.child_folders %}
      <li class="navigation-item navigation-child-folder">
        <a href="{{ folder.path }}" class="navigation-link">
          <span class="folder-indent" style="margin-left: {{ folder.level | times: 20 }}px">
            <i class="folder-icon">📁</i>
            {{ folder.displayName }}
          </span>
        </a>
      </li>
    {% endfor %}
  {% endif %}

  {% comment %} Выводим файлы текущей папки {% endcomment %}
  {% if tree.files %}
    {% for file in tree.files %}
      <li class="navigation-item navigation-file">
        <a href="{{ file.path }}" class="navigation-link navigation-file-link">
          <span class="file-indent" style="margin-left: {{ file.level | times: 20 }}px">
            <i class="file-icon">🎵</i>
            {{ file.displayName }}
          </span>
        </a>
      </li>
    {% endfor %}
  {% endif %}
</ul>
