<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/jstree/style.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/music.min.css' | relative_url }}" />
    <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}"/>
  </head>
  <body>
    <div class="grid-container">
      {% include header.html %}
      <main class="main-content grid-row">
        <div class="grid-col-12">
          <nav class="breadcrumb">
            <a href="{{ '/' | relative_url }}">Главная</a> >
            <a href="{{ '/partitures/' | relative_url }}">Партитуры</a> >
            {% if page.parent_folder_path %}
              <a href="{{ page.parent_folder_path | relative_url }}">{{ page.parent_folder_title }}</a> >
            {% endif %}
            <span>{{ page.title }}</span>
          </nav>
          <div class="abc-container">
            <div id="abc-display"></div>
            <div class="abc-source" style="display: none;">
              {{ page.abc_content }}
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="{{ '/assets/js/acoustic_grand_piano-mp3.js' | relative_url }}"></script>
    <!-- Подключаем jQuery ПЕРЕД jstree и abcjs-ui -->
    <script src="{{ '/assets/js/jquery.min.js'  }}"></script>
    <script src="{{ '/assets/js/jstree/jstree.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/abc-ui-1.0.0.min.js' | relative_url }}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Инициализация дерева навигации
        $('#folder-tree').jstree({
          'core': {
            'data': {
              // Оборачиваем путь в кавычки
              'url': "{{ '/partitures/full-tree.json' | relative_url }}",
              'data': function(node) {
                return { 'id': node.id };
              }
            }
          },
          'plugins': ['wholerow']
        });

        // Рендер ABC нотации
        const abcSource = document.querySelector('.abc-source').textContent.trim();
        ABCJS.renderAbc('abc-display', abcSource, {
            responsive: "resize",
            generateIds: true,
            displayLily: true,
            displayControls: true,
            midiControl: {
                showPiano: true,
                showTempo: true
            }
        });
        $ABC_UI.init();
        $ABC_UTIL.addHtmlVievers({"bMacro":true,"bDeco":true,"bEditors":false});
      });
    </script>
  </body>
</html>